body {
  font-family: Tahoma, Geneva, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  position: absolute;
  top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 50%;
  padding: 0 25%;
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.notification {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  display: none;
  font-weight: 700;
  text-align: center;
}

.warning {
  background-color: #F8D972;
}

.error {
  /*F8B172*/
  background-color: #FFC09B;
}

.success {
  background-color: #D9F595;
}